* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    height: 100vh;
    background:#f7f7f7;
    }

    .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
    }

    .author-info a {
    text-decoration: none;
    }

    .container{
        place-self: center;
        padding: 30px 20px;
    }

   .pricing-card{
        padding:30px 20px;
    }

    .header{
        background-image: url(resources/bg-pattern.png);
        background-repeat: no-repeat;
        text-align:center;
        margin-bottom:50px;
    }

    .header h2{
        font-size:40px;
        margin-bottom:10px;
    }

    .header p{
        max-width:390px;
        margin:auto;
        color:#666;
        font-size: 17px;
    }

    .table-content{
        width: 100%;
        margin:auto;
    }

    .table-info{
        width:100%;
        border-collapse:collapse;
        background:white;
    }

    .table-info th,
    .table-info td{
        padding:20px;
        text-align:center;
        border-bottom:1px solid #e5e7eb;
    }

    .table-info th:nth-child(4),
    .table-info td:nth-child(4) {
        background-color: blue;
        border-radius: 5px;
    }

    thead th{
        height:220px;
        vertical-align:middle;
    }

    .name{
        color:#3046d3;
        display:block;
        margin-bottom:10px;
    } 

    .month{
        color:gray;
        display:block;
        margin-bottom:10px;
    }

    thead h3{
        font-size:50px;
        font-weight: bolder;
        margin-bottom:10px;
    }

    .list{
        display:inline-block;
        background:#3046d3;
        color: #e5e7eb;
        padding:6px 18px;
        border-radius:70px;
        margin-bottom:15px;
        font-size:14px;
    }

    .btn{
        border: none;
        /* position: relative; */
    }

    .btn-p{
        background-color: rgba(218, 175, 32, 0.904);
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        padding: 30px;
        justify-content: center;
    }

    .arrow{
        vertical-align:middle;
    }
